h1 {
  color:aqua
}
.hourslocations {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aqua;
  border: thin solid blue;

}

table {
    border: thin solid black;
    background-color:antiquewhite;
    
}



